/* ==========================================================================
   ESTILOS PARA MÓDULOS DE VIDEO (PLYR.IO)
   ========================================================================== */

.video-featured-module {
    padding: 0;
    overflow: hidden;
    background-color: var(--color-border);
    cursor: default !important;
    height: 100%;
}

.plyr {
    width: 100%;
    height: 100%;
}

.plyr--video .plyr__poster {
    display: none;
}

.plyr--youtube .plyr__control--overlaid {
    display: none;
}